@font-face {
    font-family: 'Rubik Light';
    src: url('Rubik-Light.ttf');
    src: local('Rubik-Light'), local('Rubik-Light'),
    url('Rubik-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Rubik Light Italic';
    src: url('Rubik-LightItalic.ttf');
    src: local('Rubik-LightItalic'), local('Rubik-LightItalic'),
    url('Rubik-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Rubik';
    src: url('Rubik-Regular.ttf');
    src: local('Rubik-Regular'), local('Rubik-Regular'),
    url('Rubik-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Rubik Italic';
    src: url('Rubik-Light.ttf');
    src: local('Rubik-Light'), local('Rubik-Light'),
    url('Rubik-Light.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Rubik Medium';
    src: url('Rubik-Medium.ttf');
    src: local('Rubik-Medium'), local('Rubik-Medium'),
    url('Rubik-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Rubik Medium Italic';
    src: url('Rubik-MediumItalic.ttf');
    src: local('Rubik-MediumItalic'), local('Rubik-MediumItalic'),
    url('Rubik-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Rubik SemiBold';
    src: url('Rubik-SemiBold.ttf');
    src: local('Rubik-SemiBold'), local('Rubik-SemiBold'),
    url('Rubik-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Rubik SemiBold Italic';
    src: url('Rubik-SemiBoldItalic.ttf');
    src: local('Rubik-SemiBoldItalic'), local('Rubik-SemiBoldItalic'),
    url('Rubik-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Rubik Bold';
    src: url('Rubik-Bold.ttf');
    src: local('Rubik-Bold'), local('Rubik-Bold'),
    url('Rubik-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Rubik Bold Italic';
    src: url('Rubik-BoldItalic.ttf');
    src: local('Rubik-BoldItalic'), local('Rubik-BoldItalic'),
    url('Rubik-BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'Rubik ExtraBold';
    src: url('Rubik-ExtraBold.ttf');
    src: local('Rubik-ExtraBold'), local('Rubik-ExtraBold'),
    url('Rubik-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Rubik ExtraBold Italic';
    src: url('Rubik-ExtraBoldItalic.ttf');
    src: local('Rubik-ExtraBoldItalic'), local('Rubik-ExtraBoldItalic'),
    url('Rubik-ExtraBoldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Rubik Black';
    src: url('Rubik-Black.ttf');
    src: local('Rubik-Black'), local('Rubik-Black'),
    url('Rubik-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Rubik Black Italic';
    src: url('Rubik-BlackItalic.ttf');
    src: local('Rubik-BlackItalic'), local('Rubik-BlackItalic'),
    url('Rubik-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

